.cardWrapper{

}
.card{
    border: solid 2px grey;
    height: 200px;
    width: auto;
    margin: 50px;
    border-radius: 15px;
    background-color: white;
    box-shadow: lightsteelblue 5px 5px 5px;
}

.name{
    border-bottom: #282c34 1px solid;
    margin: 30px;
    width: auto;
}

.card:hover{
    border-color: coral;
}